go 1.26.5

use (
	./cmd-pkr
	./pkr-cargo
	./pkr-composer
	./pkr-conan
	./pkr-generic
	./pkr-go
	./pkr-helm
	./pkr-hex
	./pkr-maven
	./pkr-npm
	./pkr-nuget
	./pkr-oci
	./pkr-pub
	./pkr-pypi
	./pkr-rubygems
	./pkr-swift
	./pkr-system
	./pkrkit
)
